%ul.contact-list
  %li.contact-list__item
    .contact-list__contact
      .contact-list__contact-name
        Name
        &nbsp;•&nbsp;
        your@mail.com
    %button.btn.btn-secondary.btn-ico
      %i.icon.icon__bin-light
        %img.icon_img{src: "assets/icons/icon-bin-light.svg"}

  %li.contact-list__item
    .contact-list__contact
      .contact-list__contact-name
        David Superlongname Martinez
        &nbsp;•&nbsp;
        your@mail.com
    %button.btn.btn-secondary.btn-ico
      %i.icon.icon__bin-light
        %img.icon_img{src: "assets/icons/icon-bin-light.svg"}
    %li.contact-list__item
      .contact-list__contact
        .contact-list__contact-name
          Name
          &nbsp;•&nbsp;
          your@mail.com
      %button.btn.btn-secondary.btn-ico
        %i.icon.icon__bin-light
          %img.icon_img{src: "assets/icons/icon-bin-light.svg"}

    %li.contact-list__item
      .contact-list__contact
        .contact-list__contact-name
          David Superlongname Martinez
          &nbsp;•&nbsp;
          your@mail.com
      %button.btn.btn-secondary.btn-ico
        %i.icon.icon__bin-light
          %img.icon_img{src: "assets/icons/icon-bin-light.svg"}
