%tr.tr
  %td.table-cell
    %button.btn.btn-toggle.btn-ico.btn-xs.btn-toggle_expand
  %td.table-cell
    \#001
  %td.table-cell
    %span.alert-label.__context_state_success Success
  %td.table-cell
    Swift Transaction
  %td.table-cell
    15/11/2019
  %td.table-cell
    $1250
  %td.table-cell
    Private substantially Fitch bull
