%ul.sidebar-nav
  %li.sidebar-nav__item.__active
    %a.sidebar-nav__link{href: "#"}
      Option settings 1
  %li.sidebar-nav__item
    %a.sidebar-nav__link{href: "#"}
      Option settings 2
  %li.sidebar-nav__item
    %a.sidebar-nav__link{href: "#"}
      Option settings 3
  %li.sidebar-nav__item
    %a.sidebar-nav__link{href: "#"}
      Option settings 4
  %li.sidebar-nav__item
    %a.sidebar-nav__link{href: "#"}
      Option settings 5
  %li.sidebar-nav__item
    %a.sidebar-nav__link{href: "#"}
      Option settings 7
  %li.sidebar-nav__item
    %a.sidebar-nav__link{href: "#"}
      Option settings 8
  %li.sidebar-nav__item
    %a.sidebar-nav__link{href: "#"}
      Option settings 9
  %li.sidebar-nav__item
    %a.sidebar-nav__link{href: "#"}
      Option settings 10
  %li.sidebar-nav__item
    %a.sidebar-nav__link{href: "#"}
      Option settings 11
  %li.sidebar-nav__item
    %a.sidebar-nav__link{href: "#"}
      Option settings 11
