.radio-cards
  .radio-card
    %input.radio-card__input#radio-card-1{type: "radio", name: "radio-cards"}
    %label.radio-card__content{for: "radio-card-1"}
      .radio-card__icons
        %i.icon.icon__doc-csv
      .radio-card__hd
        Upload CSV
      .radio-card__desc
        .radio-card__desc-lbl Description
        .radio-card__desc-txt Here will be short text description about function
  .radio-card
    %input.radio-card__input#radio-card-2{type: "radio", name: "radio-cards"}
    %label.radio-card__content{for: "radio-card-2"}
      .radio-card__icons
        %i.icon.icon__service-stripe
        %i.icon.icon__service-paypal
      .radio-card__hd
        Upload CSV
      .radio-card__desc
        .radio-card__desc-lbl Description
        .radio-card__desc-txt Here will be short text description about function
