.transaction-progress
  .transaction-progress__step.transaction-progress__step_completed
    .transaction-progress__item
      .transaction-progress__item-date
        15.11.2019
      .transaction-progress__item-name
        Validation
    .transaction-progress__gap
  .transaction-progress__step.transaction-progress__step_completed
    .transaction-progress__item
      .transaction-progress__item-date
        15.11.2019
      .transaction-progress__item-name
        Validation
    .transaction-progress__gap
  .transaction-progress__step.transaction-progress__step_completed
    .transaction-progress__item
      .transaction-progress__item-date
        15.11.2019
      .transaction-progress__item-name
        Validation
    .transaction-progress__gap
  .transaction-progress__step.transaction-progress__step_active
    .transaction-progress__item
      .transaction-progress__item-date
        In Progress
      .transaction-progress__item-name
        Validation
    .transaction-progress__gap
  .transaction-progress__step
    .transaction-progress__item
      .transaction-progress__item-date
        Next
      .transaction-progress__item-name
        Validation
