.footer
  .container-fluid
    .row.justify-content-center
      .col-md-8
        %ul.footer-nav
          %li.footer-nav__itm
            %a.footer-nav__itm-link{href: "#"}  About
          %li.footer-nav__itm
            %a.footer-nav__itm-link{href: "#"}  Contacts
          %li.footer-nav__itm
            %a.footer-nav__itm-link{href: "#"}  FAQ
        .copyright Copyright © 2019 All Rights Reserved
