%tr.table-row
  %th.table-cell-hd.__context_type_checkbox_x1
    .checkbox.__context_no_lbl.__context_boxed
      %input.checkbox__input#prop-1{type: "checkbox"}
      %label.checkbox__lbl{for: "prop-1"}
  //Comment
  %th.table-cell-hd.__context_type_buttons_x4
    @@include('_data-table_row_actions.html')
  %th.table-cell-hd
    %span.table-cell-hd__sortable.__sort_asc
      ID
  %th.table-cell-hd
    %span.table-cell-hd__sortable.__sort_desc
      Status
  %th.table-cell-hd
    %span.table-cell-hd__sortable.__sort_none
      Name
  %th.table-cell-hd
    %span.table-cell-hd__sortable.__sort_none
      Date
  %th.table-cell-hd
    %span.table-cell-hd__sortable.__sort_none
      Cost
  %th.table-cell-hd
    %span.table-cell-hd__sortable.__sort_none
      Details
