.table-row__actions
  %button.btn.btn-xs.btn-ico.btn-tabular-secondary.__active
    %i.icon.__icon_xs.icon__modify_rec
  %button.btn.btn-xs.btn-ico.btn-tabular-primary.__active
    %i.icon.__icon_xs.icon__acknowledge
  %button.btn.btn-xs.btn-ico.btn-tabular-secondary.__active
    %i.icon.__icon_xs.icon__ignore
