.table-row__actions
  %button.btn.btn-xs.btn-ico.btn-tabular-primary{disabled: true}
    %i.icon.__icon_xs.icon__acknowledge
  %button.btn.btn-xs.btn-ico.btn-tabular-secondary{disabled: true}
    %i.icon.__icon_xs.icon__ignore
  %button.btn.btn-xs.btn-ico.btn-tabular-danger{disabled: true}
    %i.icon.__icon_xs.icon__bin_sm
