.table-row__actions
  %button.btn.btn-xs.btn-ico.btn-tabular-solid
    %i.icon.__icon_xs.icon__modify_rec
  %button.btn.btn-xs.btn-ico.btn-tabular-primary
    %i.icon.__icon_xs.icon__acknowledge
  %button.btn.btn-xs.btn-ico.btn-tabular-secondary
    %i.icon.__icon_xs.icon__ignore
  %button.btn.btn-xs.btn-ico.btn-tabular-danger
    %i.icon.__icon_xs.icon__bin_sm
