%tr.tr
  %td.table-cell
    .checkbox.__context_no_lbl.__context_boxed
      %input.checkbox__input#prop-1{type: "checkbox"}
      %label.checkbox__lbl{for: "prop-1"}
  %td.table-cell
    @@include('_data-table_row_actions.html')
  %td.table-cell
    \#001
  %td.table-cell
    %span.alert-label.__context_state_ignore Ignore
  %td.table-cell
    Swift Transaction
  %td.table-cell
    15/11/2019
  %td.table-cell
    $1250
  %td.table-cell
    Private substantially Fitch bull
