%i.icon.icon__cog
%i.icon.icon__alert
%i.icon.icon__service-stripe
%i.icon.icon__service-paypal
%i.icon.icon__doc-csv
%i.icon.icon__doc-download
%i.icon.icon__bin-light
%i.icon.icon__search

%i.icon.__icon_xs.icon__ban
%i.icon.__icon_xs.icon__modify_rec
%i.icon.__icon_xs.icon__acknowledge
%i.icon.__icon_xs.icon__ignore
%i.icon.__icon_xs.icon__bin_sm
%i.icon.__icon_xs.icon__arrow_l
%i.icon.__icon_xs.icon__arrow_r
