@@include('./components/head/_head.html')

  %body
    @@include('./components/header/_header.html')
    .container-fluid
      .row.justify-content-center
        .col-md-4
          %h2 Passwort ändern
          %p
            Password must be at least 8 characters long and have at
            %br
            least one of the following: uppercase, lowercase, numbers
          %form.form
            .input-grp
              %label.input-grp__lbl Type new password
              %input.input-control{type: "password", name:"password", placeholder: "Password"}
            .input-grp.__submit
              %button.btn.btn-primary{for: "group-2"} Passwort ändern
    @@include('./components/footer/_footer.html')
