@@include('./components/head/_head.html')
  %body
    @@include('./components/header/_header__auth_wide.html')
    .container-fluid.__size_full_width
      .sidebar-content-wrapper
        .sidebar-left
          @@include('./components/sidebar-nav/_sidebar-nav.html')
        .content-wrapper
          .content
            .row
              .col-md-12
                .box-panel
                  .table-widget__hd
                    %h1.table-widget__txt Transactions Listing
                    .table-widget__actions
                      %select.select-control.__table_dd{}
                        %option Status: All
                        %option Status: Success
                        %option Status: Error
                        %option Status: Ignore
                      %input.input-control.__table_filter{type: "text", placeholder: "Filter..."}
                  %table.table
                    %tr.table-row
                      %th.table-cell-hd.__context_type_checkbox_x1
                        .checkbox.__context_no_lbl.__context_boxed
                          %input.checkbox__input#prop-1{type: "checkbox"}
                          %label.checkbox__lbl{for: "prop-1"}
                      //Comment
                      %th.table-cell-hd.__context_type_buttons_x3
                        @@include('./components/data-table/_data-table_row_actions.html')
                      %th.table-cell-hd
                        ID
                      %th.table-cell-hd
                        Status
                      %th.table-cell-hd
                        Name
                      %th.table-cell-hd
                        Date
                      %th.table-cell-hd
                        Cost
                      %th.table-cell-hd
                        Details
                    @@include('./components/data-table/_data-table_row.html')
                    @@include('./components/data-table/_data-table_row.html')
                    @@include('./components/data-table/_data-table_row.html')
                    @@include('./components/data-table/_data-table_row.html')
                    %tr.tr
                      %td.table-cell
                        .checkbox.__context_no_lbl.__context_boxed
                          %input.checkbox__input#prop-1{type: "checkbox"}
                          %label.checkbox__lbl{for: "prop-1"}
                      %td.table-cell
                        @@include('./components/data-table/_data-table_row_actions_act.html')
                      %td.table-cell
                        \#001
                      %td.table-cell
                        %span.alert-label.__context_state_error Error
                      %td.table-cell
                        Swift Transaction
                      %td.table-cell
                        15/11/2019
                      %td.table-cell
                        $1250
                      %td.table-cell
                        Private substantially Fitch bull
                    %tr.tr-expanded
                      %td.table-cell
                        .checkbox.__context_no_lbl.__context_boxed
                          %input.checkbox__input#prop-1{type: "checkbox"}
                          %label.checkbox__lbl{for: "prop-1"}
                      %td.table-cell
                        @@include('./components/data-table/_data-table_row_actions_act.html')
                      %td.table-cell
                        \#001
                      %td.table-cell
                        %span.alert-label.__context_state_error Error
                      %td.table-cell
                        Swift Transaction
                      %td.table-cell{colspan: "3"}
                        .table-row__actions_expanded
                          %button.btn.btn-sm.btn-secondary Cancel
                          %button.btn.btn-sm.btn-primary Save

                    %tr.tr-details
                      %td{colspan: "8"}
                        .item-form
                          %form.form-tabular
                            .row
                              .col-md-6
                                %h4 Form Column 1
                                .input-grp
                                  %label.input-grp__lbl Field 100% width
                                  %input.input-control.__text{type: "text", placeholder: "Input text"}
                                  %small.control-info *Field Descriptions
                                .row
                                  .col-md-6
                                    .input-grp
                                      %label.input-grp__lbl Field 50% width
                                      %input.input-control.__text{type: "text", placeholder: "Input text"}
                                      %small.control-info *Field Descriptions
                                  .col-md-6
                                    .input-grp
                                      %label.input-grp__lbl Field 50% width
                                      %input.input-control.__text{type: "text", placeholder: "Input text"}
                                      %small.control-info *Field Descriptions
                                .row
                                  .col-md-4
                                    .input-grp
                                      %label.input-grp__lbl Field 33% width
                                      %input.input-control.__text{type: "text", placeholder: "Input text"}
                                      %small.control-info *Field Descriptions
                                  .col-md-4
                                    .input-grp
                                      %label.input-grp__lbl Field 33% width
                                      %input.input-control.__text{type: "text", placeholder: "Input text"}
                                      %small.control-info *Field Descriptions
                                  .col-md-4
                                    .input-grp
                                      %label.input-grp__lbl Field 33% width
                                      %input.input-control.__text{type: "text", placeholder: "Input text"}
                                      %small.control-info *Field Descriptions
                              .col-md-6
                                %h4 Form Column 1
                                .input-grp
                                  %label.input-grp__lbl Field 100% width
                                  %input.input-control.__text{type: "text", placeholder: "Input text"}
                                  %small.control-info *Field Descriptions
                                .row
                                  .col-md-6
                                    .input-grp
                                      %label.input-grp__lbl Field 50% width
                                      %input.input-control.__text{type: "text", placeholder: "Input text"}
                                      %small.control-info *Field Descriptions
                                  .col-md-6
                                    .input-grp
                                      %label.input-grp__lbl Field 50% width
                                      %input.input-control.__text{type: "text", placeholder: "Input text"}
                                      %small.control-info *Field Descriptions
                                .row
                                  .col-md-4
                                    .input-grp
                                      %label.input-grp__lbl Field 33% width
                                      %input.input-control.__text{type: "text", placeholder: "Input text"}
                                      %small.control-info *Field Descriptions
                                  .col-md-4
                                    .input-grp
                                      %label.input-grp__lbl Field 33% width
                                      %input.input-control.__text{type: "text", placeholder: "Input text"}
                                      %small.control-info *Field Descriptions
                                  .col-md-4
                                    .input-grp
                                      %label.input-grp__lbl Field 33% width
                                      %input.input-control.__text{type: "text", placeholder: "Input text"}
                                      %small.control-info *Field Descriptions
                    @@include('./components/data-table/_data-table_row.html')
                    @@include('./components/data-table/_data-table_row.html')
                    @@include('./components/data-table/_data-table_row.html')
                    %tr.tr-separator
                      %td{colspan: "8"}
                        %i.icon
                          %img{src:"assets/icons/icon-doc-generic.svg"}
                        %span.tr-separator__lbl
                          Next_File_1.csv
                    @@include('./components/data-table/_data-table_row.html')
                    @@include('./components/data-table/_data-table_row.html')
                    @@include('./components/data-table/_data-table_row.html')
                    @@include('./components/data-table/_data-table_row.html')
                    @@include('./components/data-table/_data-table_row.html')
                    @@include('./components/data-table/_data-table_row.html')
                    @@include('./components/data-table/_data-table_row.html')
                  @@include('./components/paginator/_paginator.html')
    @@include('./components/footer/_footer.html')
    @@include('./components/scripts/_scripts.html')
