@@include('./components/head/_head.html')

  %body
    @@include('./components/header/_header.html')
    .container-fluid
      .row
        .col-md-2.offset-md-2
          @@include('./components/sidebar-nav/_sidebar-nav.html')
        .col-md-4
          %h1 Page Title
          @@include('./components/radio-cards/_radio-cards.html')
          .box-panel
            %form.form
              .input-grp
                %label.input-grp__lbl Description
                %input.input-control.__text{type: "text", placeholder: "Input text"}
              .input-grp
                %label.input-grp__lbl Description
                %input.input-control.__text{type: "text", placeholder: "Input text"}
              .input-grp
                %label.input-grp__lbl Description
                %input.input-control.__text{type: "text", placeholder: "Input text"}
              .input-grp
                %label.input-grp__lbl Description
                %input.input-control.__text{type: "text", placeholder: "Input text"}
              .input-grp
                .row
                  .col-3
                    %label.input-grp__lbl Checkbox
                    .checkbox
                      %input.checkbox__input#prop-5{type: "checkbox"}
                      %label.checkbox__lbl{for: "prop-5"} Monthly
                  .col-3
                    .toggle
                      %input.toggle__input#toggler-1{type: "checkbox"}
                      %label.toggle__lbl{for: "toggler-1"} Toggler
                  .col-3
                    3
                  .col-3
                    4
              .input-grp
                %label.input-grp__lbl Description
                %input.input-control.__text{type: "text", placeholder: "Input text"}
              .input-grp.__submit
                %button.btn.btn-primary Upload CSV
                %a.input-grp__link.__to-right{href: "#"}
                  %i.icon.icon__doc-download
                  Download the file example

    @@include('./components/footer/_footer.html')
