@@include('./components/head/_head.html')
  %body
    @@include('./components/header/_header__auth.html')
    .container
      .sidebar-content-wrapper
        .sidebar-left
          @@include('./components/sidebar-nav/_sidebar-nav.html')
        .content-wrapper
          .container-fluid
            .row
              .col-lg-9.col-md-12
                %h2 Pages
                .box-panel
                  %section.guideline-section
                    %h2 Pages. Part 1
                    .row
                      .col-md-6
                        %ul.sitemap
                          %li.sitemap__item
                            %a.sitemap__link{href: "01-registration.html"}
                              01. Registration
                          %li.sitemap__item
                            %a.sitemap__link{href: "02-login.html"}
                              02. Login
                          %li.sitemap__item
                            %a.sitemap__link{href: "03-password-recovery-email.html"}
                              03. Forgot Password
                          %li.sitemap__item
                            %a.sitemap__link{href: "04-password-recovery.html"}
                              04. Reset Password
                      .col-md-6
                        %ul.sitemap
                          %li.sitemap__item
                            %a.sitemap__link{href: "05-start.html"}
                              05. Blank Page
                          %li.sitemap__item
                            %a.sitemap__link{href: "06-upload-1.html"}
                              06. Upload Page
                          %li.sitemap__item
                            %a.sitemap__link{href: "07-error-states.html"}
                              07. Form Errors
                          %li.sitemap__item
                            %a.sitemap__link{href: "#"}
                              08. Tabular Listing
                %h2 Styleguide
                .box-panel
                  %section.guideline-section
                    %h2 Typography elements
                    .guideline-section__elmnts
                      %h1 Header level 1
                      %h2 Header level 2
                      %h3 Header level 3
                      %h4 Header level 4
                      %h5 Header level 5
                      %h6 Header level 6
                      %p Body text: The quick brown fox jumps over the lazy dog
                      %p
                        %a{href: "#"} Link
                %section.guideline-section
                  %h2 Colors to add
                  .guideline-section__elmnts
                    .row
                      .col-md-6
                        .color-thumb.__color-thumb-primary
                          .color-thumb__prev
                          .color-thumb__name Primary / Success
                          .color-thumb__color '#35BA59'
                          .color-thumb__desc Primary brand color
                      .col-md-6
                        .color-thumb.__color-thumb-primary-light
                          .color-thumb__prev
                          .color-thumb__name Primary Light
                          .color-thumb__color '#51CE73'
                          .color-thumb__desc Primary brand color
                      .col-md-6
                        .color-thumb.__color-thumb-error
                          .color-thumb__prev
                          .color-thumb__name Red
                          .color-thumb__color '#E21D1D'
                          .color-thumb__desc Errors & Warnings
                      .col-md-6
                        .color-thumb.__color-thumb-black
                          .color-thumb__prev
                          .color-thumb__name Black
                          .color-thumb__color '#000000'
                          .color-thumb__desc Form labels, inputs
                      .col-md-6
                        .color-thumb.__color-thumb-grey
                          .color-thumb__prev
                          .color-thumb__name Grey
                          .color-thumb__color '#4A4A4B'
                          .color-thumb__desc Default text color
                      .col-md-6
                        .color-thumb.__color-thumb-grey-light
                          .color-thumb__prev
                          .color-thumb__name Light Grey
                          .color-thumb__color '#F3F4F7'
                          .color-thumb__desc Shadows and outlines
                      .col-md-6
                        .color-thumb.__color-thumb-white
                          .color-thumb__prev
                          .color-thumb__name White
                          .color-thumb__color '#FFFFFF'
                          .color-thumb__desc Whites. Panels & inputs bg

                %section.guideline-section
                  .box-panel
                    %h2 Icons
                    .guideline-section__elmnts
                      @@include('./components/icons/_icon.html')

                %section.guideline-section
                  .box-panel
                    %h2 Forms
                    .guideline-section__elmnts
                      %form.form{method: "GET"}
                        .input-grp
                          %label.input-grp__lbl Input Text
                          %input.input-control.__text{type: "text", placeholder: "Input text"}
                        .input-grp
                          %label.input-grp__lbl Input Password
                          %input.input-control{type: "password", placeholder: "Input Password"}
                          %small.control-info
                            *Password Instructions
                        .input-grp
                          %label.input-grp__lbl Input Password
                          %input.input-control.__text.__state-error{type: "password", placeholder: "Input Password"}
                          %small.control-info.__state-error
                            *It should be 8 symbol password and contain at least 1 number
                        .input-grp
                          %label.input-grp__lbl Select
                          %select.select-control{}
                            %option Choose..
                            %option Option 1
                            %option Option 2
                        .input-grp
                          .row
                            .col-md-4
                              %label.input-grp__lbl Multiple inputs in one row
                              %input.input-control.__text{type: "text", placeholder: "Input Multiple", disabled: "true"}
                            .col-md-4
                              %label.input-grp__lbl Multiple inputs in one row
                              %input.input-control.__text{type: "text", placeholder: "Input Multiple"}
                            .col-md-4
                              %label.input-grp__lbl Multiple inputs in one row
                              %input.input-control.__text{type: "text", placeholder: "Input Multiple"}
                        .input-grp
                          %label.input-grp__lbl Checkbox Group. Rows
                          .checkbox
                            %input.checkbox__input#prop-1{type: "checkbox"}
                            %label.checkbox__lbl{for: "prop-1"} Checkbox Row #1
                          .checkbox
                            %input.checkbox__input#prop-2{type: "checkbox"}
                            %label.checkbox__lbl{for: "prop-2"} Checkbox Row #2
                        .input-grp
                          %label.input-grp__lbl Checkbox Group. Columns.
                          .row
                            .col-md-4
                              .checkbox
                                %input.checkbox__input#prop-3{type: "checkbox"}
                                %label.checkbox__lbl{for: "prop-3"} Checkbox Col #1
                            .col-md-4
                              .checkbox
                                %input.checkbox__input#prop-4{type: "checkbox"}
                                %label.checkbox__lbl{for: "prop-4"} Checkbox Col #2
                            .col-md-4
                              .checkbox
                                %input.checkbox__input#prop-5{type: "checkbox"}
                                %label.checkbox__lbl{for: "prop-5"} Checkbox Col #3
                        .input-grp
                          %label.input-grp__lbl Radio Group. Rows
                          .radio
                            %input.radio__input#radio-1{type: "radio", name: "group-1"}
                            %label.radio__lbl{for: "radio-1"} Radio Row #1
                          .radio
                            %input.radio__input#radio-2{type: "radio", name: "group-1"}
                            %label.radio__lbl{for: "radio-2"} Radio Row #2
                        .input-grp
                          %label.input-grp__lbl Radio. Columns.
                          .row
                            .col-md-4
                              .radio
                                %input.radio__input#radio-3{type: "radio", name: "group-2"}
                                %label.radio__lbl{for: "radio-3"} Radio Col #1
                            .col-md-4
                              .radio
                                %input.radio__input#radio-4{type: "radio", name: "group-2"}
                                %label.radio__lbl{for: "radio-4"} Checkbox Col #2
                            .col-md-4
                              .radio
                                %input.radio__input#radio-5{type: "radio", name: "group-2"}
                                %label.radio__lbl{for: "radio-5"} Checkbox Col #3
                        .input-grp
                          .toggle
                            %input.toggle__input#toggler-1{type: "checkbox"}
                            %label.toggle__lbl{for: "toggler-1"} Toggler
                        .input-grp
                          .error-label
                            Independent error label
                        .input-grp.input-grp__submit
                          %button.btn.btn-primary{for: "group-2"} Submit
                          %a.btn.btn-primary{for: "group-2", href: "#"} Button Link

                .box-panel
                  %section.guideline-section
                    %h2 Buttons
                    .guideline-section__elmnts
                      %h4 Button Primary
                      %button.btn.btn-primary Button
                      %button.btn.btn-primary{disabled: "disabled"} Button
                    .guideline-section__elmnts
                      %h4 Button Secondary
                      %button.btn.btn-secondary Button
                      %button.btn.btn-secondary{disabled: "disabled"} Button
                    .guideline-section__elmnts
                      %h4 Button Icon. Standard
                      %button.btn.btn-ico.btn-secondary
                        %i.icon.icon__bin-light
                      %button.btn.btn-ico.btn-secondary{disabled: "disabled"}
                        %i.icon.icon__bin-light
                    .guideline-section__elmnts
                      %h4 Button Icon. Small
                      %button.btn.btn-xs.btn-ico.btn-tabular-secondary
                        %i.icon.__icon_xs
                          %svg{width: "16", height: "16", viewBox: "0 0 16 16", fill: "black", xmlns: "http://www.w3.org/2000/svg"}
                            %path{d:"M7.99993 14H13.9999C14.3679 14 14.6666 13.7014 14.6666 13.3334C14.6666 12.9654 14.3679 12.6667 13.9999 12.6667H7.99993C7.63193 12.6667 7.33326 12.9654 7.33326 13.3334C7.33326 13.7014 7.63193 14 7.99993 14ZM10.5286 1.86202L2.19526 10.1954C2.11393 10.276 2.0506 10.382 2.01993 10.5054L1.35326 13.172C1.32726 13.272 1.32526 13.384 1.35326 13.4954C1.4426 13.8527 1.8046 14.07 2.16193 13.9807L4.8286 13.314C4.93993 13.2867 5.0486 13.228 5.1386 13.1387L13.4719 4.80535C13.8779 4.39935 14.0813 3.86535 14.0813 3.33402C14.0813 2.80269 13.8779 2.26869 13.4719 1.86269C13.0659 1.45669 12.5313 1.25269 11.9999 1.25269C11.4686 1.25269 10.9346 1.45602 10.5286 1.86202ZM11.4713 2.80469C11.6173 2.65869 11.8073 2.58602 11.9999 2.58602C12.1926 2.58602 12.3826 2.65869 12.5286 2.80469C12.6746 2.95069 12.7473 3.14069 12.7473 3.33335C12.7473 3.52602 12.6746 3.71602 12.5286 3.86202L4.32593 12.0647L2.91593 12.4174L3.2686 11.0074L11.4713 2.80469Z"}
                      %button.btn.btn-xs.btn-ico.btn-tabular-primary
                        %i.icon.__icon_xs
                          %svg{width: "16", height: "16", viewBox: "0 0 16 16", fill: "black", xmlns: "http://www.w3.org/2000/svg"}
                            %path{d:"M12.8619 3.52875L5.99992 10.3907L3.13792 7.52875C2.87725 7.26808 2.45525 7.26808 2.19525 7.52875C1.93525 7.78941 1.93458 8.21141 2.19525 8.47141L5.52858 11.8047C5.78925 12.0654 6.21125 12.0654 6.47125 11.8047L13.8046 4.47141C14.0653 4.21075 14.0653 3.78875 13.8046 3.52875C13.5439 3.26875 13.1219 3.26808 12.8619 3.52875Z"}
                      %button.btn.btn-xs.btn-ico.btn-tabular-secondary
                        %i.icon.__icon_xs
                          %svg{width: "16", height: "16", viewBox: "0 0 16 16", fill: "black", xmlns: "http://www.w3.org/2000/svg"}
                            %path{fill-rule: "evenodd", clip-rule:"evenodd", d:"M14 8C14 11.3137 11.3137 14 8 14C4.68629 14 2 11.3137 2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8ZM13 8C13 10.7614 10.7614 13 8 13C6.79914 13 5.69715 12.5767 4.83514 11.8711C4.84139 11.8654 4.84753 11.8596 4.85355 11.8536L11.8536 4.85355C11.8596 4.84753 11.8654 4.84139 11.8711 4.83514C12.5767 5.69715 13 6.79914 13 8ZM4.12893 11.1649C4.13458 11.1586 4.14042 11.1525 4.14645 11.1464L11.1464 4.14645C11.1525 4.14042 11.1586 4.13458 11.1649 4.12893C10.3029 3.42334 9.20086 3 8 3C5.23858 3 3 5.23858 3 8C3 9.20086 3.42334 10.3029 4.12893 11.1649Z"}

                %section.guideline-section
                  %h2 Cards Radiobuttons
                  @@include('./components/radio-cards/_radio-cards.html')
                .box-panel
                  @@include('./components/file-upload/_file-upload.html')
    @@include('./components/footer/_footer.html')
    @@include('./components/scripts/_scripts.html')
