// Default styling;
.sidebar-nav {
  list-style-type: none;
}

.sidebar-nav__item {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 150%;
  .sidebar-nav__link{
    color: $body-color;
    text-decoration: none;
    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
  &.__active {
    .sidebar-nav__link {
      color: $black;
      text-decoration: none;
      font-weight: 500;
    }
  }
}
