.table, table{
  tbody > tr> th,
  tbody > tr> td {
    margin: 0;
    padding: 16px 8px;
    border-color: $grey-borders;

    &:first-child {
      padding-left: 16px;
    }
    &:last-child {
      padding-right: 16px;
    }
  }
  tbody > .tr-details > td,
  tbody > .tr-details > td:first-child,
  tbody > .tr-details > td:last-child {
     padding: 0 0 16px 0;
   }
}
.table-cell-hd__sortable {
  color: $black;
  position: relative;
  &:hover {
    text-decoration: underline;
    color: $black;
  }
  &.__sort_asc:before{
    content: '';
    width: 10px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 5L7.4641 0.5H0.535898L4 5Z' fill='black'/%3E%3C/svg%3E%0A");
    background-position:  center;
    background-repeat: no-repeat;
    position: absolute;
    left: 100%;
    margin-left: 5px;
    top: 50%;
    margin-top: -6px;
  }
  &.__sort_desc:before {
    content: '';
    width: 10px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 5L7.4641 0.5H0.535898L4 5Z' fill='black'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 100%;
    margin-left: 5px;
    top: 50%;
    margin-top: -4px;
    transform: rotate(180deg);
  }
  &.__sort_none {

  }
}
.table {
  font-size: 14px;
  .table-cell-hd{
    vertical-align: middle;
    font-weight: 500;
    color: $black;
  }
  .table-cell {
    vertical-align: middle;
    border-color: $grey-borders;
  }
  tbody, tbody + tbody {
    border: none;
  }
  thead th {
    border-bottom-width: 1px;
    border-color: $grey-borders;
  }
}
.tr-expanded {
    > td {
      position: relative;
      z-index: 3;
      background-color: $grey-borders;
    }
}
.table-row__actions {
  display: flex;
  .btn {
    margin-left: 8px;
    &:first-child{
      margin-left: 0;
    }
  }
}
.table-row__actions_expanded {
  text-align: right;
  .btn {
    margin-left: 6px;
    min-width: 80px;
  }
}
.tr-separator {
  background-color: $grey-borders;
  color: $grey-basic;
  font-weight: 500;
  .tr-separator__lbl {
    margin-left: 8px;
    position: relative;
    top: 2px;
  }
}
//Modifications:
  //1. Sizes
.table-cell-hd,
.table-cell {
  &.__context_type_checkbox_x1 {
    width: 18px;
      .checkbox {}
  }
  &.__context_type_buttons_x3 {
    max-width: 96px;
  }
}

.table-widget__hd {
  display: flex;
  .table-widget__txt {flex-grow: 1;}
  .table-widget__actions {
    display: flex;
    .select-control.__table_dd {
      margin-right: 16px;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 24px;
      background-color: #fff;
      font-size: 14px;
      height: 32px;
    }
    .input-control.__table_filter {
      padding: 4px 8px;
      font-size: 14px;
      height: 32px;
    }
  }
}
