$gutter: 10px;

//Toaster
.toaster-container {
  position: fixed;
  left: 0;
  top: 57px; // fixed header height;
  width: 100%;
}
.toaster-container__limiter {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  z-index: 1;
}
.toaster {
  width: 242px;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
}

//Sungle Toast
.toast {
  margin: 0 0 16px;
  padding: 16px 24px 24px;
  background-color: $white;
  color: $body-color;
  @include box-shadow();

  .toast__hd {
    margin: 0 0 18px 0;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
  }
  .toast__body {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  &.__success {
    color: $green;
    background-color: lighten( $green,45% );
  }
  &.__danger {
    color: $red;
    background-color: lighten( $red, 45% );
  }
}

// Toaster show/hide animations
.toaster .toast {
  opacity: 0;
  transform: translateX(100%) scale(.3);
  transition: all 300ms ease;

  &.__show-toast {
    transform: translateX(0%)  scale(1);
    opacity: 1;
  }
}
