.paginator
  %a.paginator__item.__prev{href: "#"}
    %i.icon.__icon_xs.icon__arrow_l
  %a.paginator__item{href: "#"}
    1
  %a.paginator__item{href: "#"}
    2
  %a.paginator__item{href: "#"}
    3
  %a.paginator__item{href: "#"}
    4
  %a.paginator__item.__active{href: "#"}
    5
  %a.paginator__item{href: "#"}
    6
  %a.paginator__item{href: "#"}
    7
  %a.paginator__item{href: "#"}
    8
  %a.paginator__item.__next{href: "#"}
    %i.icon.__icon_xs.icon__arrow_r
